@import url("https://fonts.googleapis.com/css?family=Noto Sans");
html {
    background-color: #1e2030;
    height: 100%;
}
body {
    font-family: 'Noto Sans';
    min-height: 100%;
    margin: 1em;
    background-color: #24273a;
}
header {
    background-color: inherit;
}
section {
    display: -webkit-flex;
    display: flex;
}
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
}
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 10px;
}
@media screen and (max-width: 700px) {
    section {
        flex-direction: column;
    }
}
p,h3,ul {
    color: #cad3f5;
}
h1,h2 {
    text-align: center;
    color: #cad3f5;
}
a {
    color: #f4dbd6;
}
footer {
    background-color: #24273a;
    position: absolute;
    bottom: 0;
}
h4 {
    color: #cad3f5;
}
