/* CSS Variables */
:root {
  --background: #1e1e2e;
  --secondary-background: #11111b;
  --heading-text: #cdd6f4;
  --text: #bac2de;
  --links: #89b4fa;
  --selection-color: #585b70;
}

/* Basic Global settings */
@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans"), url("../fonts/Noto_Sans/NotoSans-Regular.ttf");
}

html {
  font-family: 'Noto Sans';
  background-color: var(--secondary-background);
  height: 100%;
  color: #cad3f5;
}

h1,h2 {
  text-align: center;
}

/* Making the lists pretty */
ul {
  list-style-type: none;
  padding-left: 0;
}
a {
  display: inline-block;
  color: var(--links);
  text-decoration: none;
}
a::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: var(--links);
  transition: width .3s;
}
a:hover::after {
  width: 100%;
}

/* Footer Flexibility */
.page-footer {
  display: grid; 
  grid-template-columns: 0.25fr 1fr; 
  grid-template-rows: 1fr; 
  align-items: center;
  margin-left: 1em;
}
.credit {
  grid-area: 1 / 1 / 2 / 2;
}
.badges {
  grid-area: 1 / 2 / 2 / 3; 
  text-align: center;
}

body {
  font-family: 'Noto Sans';
  margin: 1em;
  background-color: var(--background);
}

/* Scrolling Slideshow */
.slideshow-container {
  width: 533px;
  height: 740px;
  margin: auto;
  overflow-x: scroll;
  position: relative;
  scroll-snap-type: x mandatory;
}
.element {
  width: 533px;
  height: 716px;
  margin-left: 10px;
  margin-right: 10px;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}
.wrapping {
  width: 2212px;
}

/* Flexbox */
.body {
  display: grid; 
  grid-template-columns: 1fr 2fr; 
  grid-template-rows: 2fr 1fr; 
}
.uppernav {
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
}
.lowernav {
  grid-area: 2 / 1 / 3/ 2;
  text-align: center;
}
.mainbody {
  grid-area: 1 / 2 / -1 / 3;
  padding-right: 5em;
}
.lg-view {
  display: none;
}

/* Selection Text Colour */
::-moz-selection {
  background-color: var(--selection-color);
}
::selection {
  background-color: var(--selection-color);
}

/* Reduced Motion */
@media (prefers-reduced-motion) {
  a:hover {
    color: var(--links);
  }
  a::after {
    transition: opacity .3s ease-in-out;
    opacity: 0%;
  }
}

/* Mobile Screen */
@media (max-width: 30em) {
  .sm-view {
    display: none;
  }
  .lg-view {
    display: inline-block;
  }
}

/* Low Resolution Desktop */
@media (max-width: 50em) {
  /* Body Flexibility for Smaller Screens*/
  .body {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr; 
  }
  .uppernav {
    grid-area: 1 / 1 / 2 / -1;
    text-align: center;
  }
  .lowernav {
    grid-area: 2 / 1 / 3 / -1;
    text-align: center;
  }
  .mainbody {
    grid-area: 3 / 1 / -1 / -1;
    padding-left: 2em;
  }

  /* Footer Flexibility for Smaller Screens */
  .page-footer {
    display: grid; 
    grid-template-columns: 0.25fr 1fr; 
    grid-template-rows: 1fr; 
    align-items: center;
    margin-left: 1em;
  }
  .credit {
    grid-area: 1 / 1 / 2 / 2;
  }
  .badges {
    grid-area: 1 / 2 / 2 / 3; 
    text-align: center;
  }
}